.container
  =form_for @collection, url: '/collections', method: :post do |f|
    =fields_for :album do |a|
      =a.label :name
      =a.text_field :name
    %br
    =f.submit 'Submit', class: 'btn btn-success'
