.container
  =form_for @collection_form, html:{role: 'form'} do |f|
    =f.fields_for :albums do |a|
      =a.label :name
      =a.text_field :name
    %br
    =f.submit 'Submit', class: 'btn btn-success'

params are
=@collection_params
%br
