%h1 Editing Album

=render 'form'

.inline-links
  -if(current_user.favorite?(@album))
    = link_to 'Remove From Favorites', album_favorite_path(current_user.favorite(@album)), method: :delete
  -else
    = link_to 'Add to Favorites', 'album_favorites_path(@album)', method: :post
%br
  = link_to 'Show', collection_path(@collection)
  = link_to 'Back', :back