%h1 Listing albums
.albums
  -if(@albums.present?)
    =render @albums
  -else
    %h3 No Albums Yet! Please add albums to your collection..

%br
= link_to 'Add New Album', new_collection_path, class: "btn btn-primary"
