%h1 Here are Your Favorites
%br
-if(@albums)
  -@albums.each do |album|
    =render 'album', album: album
  %br
-if(@artists)
  -@artists.each do |artist|
    =render 'artist', artist: album
  %br
-if(@songs)
  -@songs.each do |song|
    =render 'song', song: song
  %br

%br
=link_to "Home", root_path, class: "btn btn-primary"
