Params
=params
%br
Album
=@album
Album ID
=@album.id
Album Name
=@album.name
%br
Favorite
=@favorite
%br
Favorite Attributes
=@favorite.attributes
%br
Favoritable Attributes
=@favoritable.attributes
%br
Resource Object
=@resource
%br
Id
=@id
%br
Request PATH
=@request.path
%br
Request Headers
=@request.headers

=link_to 'Back', :back