.song
  = song.name

  = link_to 'Edit', edit_song_path(song), class: "btn btn-primary btn-sm"

  = link_to 'Home', root_path, class: "btn btn-primary btn-sm"
  = link_to "Show Albums by this Artist", artist_path(song.artist), class: "btn btn-primary btn-sm"