%h2 Search Results

.albums
  -if @albums.present?
    %h3 Albums
    =render @albums 
.artists
  -if @artists.present?
    %h3 Artists
    =render @artists
.songs
  -if @songs.present?
    %h3 Songs
    =render @songs
%h2 End of Search Results

=link_to "Home", root_path