%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.navbar-right=link_to content_tag(:h3, "Recordly!"), root_path
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          =link_to 'Your Albums', collections_path
        %li
          =link_to "Your Artists", artists_path
        %li
          =link_to "Your Songs", songs_path
        %li
          =link_to "See Your Favorites", favorites_path
   
      =form_tag(search_path, method: "get", id: "user-search-form") do
        .form-group=text_field_tag :search, params[:search], placeholder: "Search Your Collection", class: "form-control"
        =submit_tag "Search", name: nil, class: "btn btn-default"

      / %form{url: search, method:"post", class: "navbar-form navbar-right"}
      /   .form-group
      /     %input.form-control{:placeholder => "Search Your Collection", :type => "text"}/
      /   %button.btn.btn-default{:type => "submit"} Submit


    %br
    .nav.navbar-nav.navbar-right
      -unless user_signed_in?
        =link_to "Sign up now", new_user_registration_path
        =link_to "Sign in", new_user_session_path

      -if user_signed_in?
        Signed in as
        = current_user.email
        =link_to "Sign out", destroy_user_session_path, method: :delete

