!!! 5
%html
  %head
    %title Recordly1
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags

  %body
    .container
      %h1 Welcome to Recordly!
    .container
      =render 'layouts/messages'

      %br
    .container
      / yield :search to search partial??
      =form_tag(user_search_path, method: :post, id:"search_form") do
        =text_field_tag :search, params[:search], placeholder: "Search Your Collection"
        =submit_tag "Search!"

    %br
    / .container
    /   %br
    /   Params
    /   =params
    /   %br
    /   Collection
    /   -if @collection
    /     User.id
    /     =@collection.user_id
    /     Album.id
    /     =@collection.album_id
    /   %br
    /   Album
    /   -if @album
    /     Album.id
    /     =@album.id
    /     Album.name
    /     =@album.name
    /   %br
    /   Favorite
    /   -if @favorite
    /     =@favorite.favoritable_type
    /     =@favorite.favoritable_id

    %br
    .container
      -unless user_signed_in?
        =link_to "Sign up now", new_user_registration_path
        =link_to "Sign in", new_user_session_path

      -if user_signed_in?
        Signed in as
        = current_user.email
        =link_to "Sign out", destroy_user_session_path, method: :delete

    .container
      = yield
    %br
    .container.debug
      =debug(assigns)