!!! 5
%html
  %head
    %title Recordly
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    =javascript_include_tag 'application', 'data-turbolinks-track' => false
    =csrf_meta_tags
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}

  %body
    .container
      =render 'layouts/navbar'
    .container
      =link_to content_tag(:h2, "Welcome to Recordly!"), root_path
    .container
      =render 'layouts/messages'
    .container
      =render 'layouts/errors'
    %br
    .container{id: "main_container"}
      = yield
