!!! 5
%html
  %head
    %title Recordly1
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    =javascript_include_tag 'application', 'data-turbolinks-track' => false
    =csrf_meta_tags

  %body
    .container
      =link_to content_tag(:h1, "Welcome to Recordly!"), root_path
    .container
      =render 'layouts/messages'

      =form_tag(user_search_path, method: :post, id:"search_form", class: "navbar-form navbar-left") do
        .form-group
          =text_field_tag :search, params[:search], placeholder: "Search Your Collection", class: "form-control"
          =submit_tag "Search!", class:"btn btn-default"


    %br
    .container
      -unless user_signed_in?
        =link_to "Sign up now", new_user_registration_path
        =link_to "Sign in", new_user_session_path

      -if user_signed_in?
        Signed in as
        = current_user.email
        =link_to "Sign out", destroy_user_session_path, method: :delete
        %br

    .container{id: "main_container"}
      = yield
