!!! 5

%html
  %head
    %title Recordly1
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags

  %body
    .container
      %h1 Welcome to Recordly!
    .container
      =render 'layouts/messages'
      %br
    .container
      include SEARCH BAR HERE

    .container
      -unless user_signed_in?
        =link_to "Sign up now", new_user_registration_path
        =link_to "Sign in", new_user_session_path

      -if user_signed_in?
        Signed in as
        = current_user.email
        =link_to "Sign out", destroy_user_session_path, method: :delete

    .container
      = yield